<div class="container">
    <h3 class="mb-3">Quản lý người dùng</h3>
  
    <!-- Phần upload file -->
    <div class="mb-4">
      <h5>Import User từ File Excel</h5>
      <input type="file" (change)="onFileSelect($event)" />
      <button class="btn btn-success mt-2" [disabled]="!selectedFile" (click)="importFile()">Import</button>
      <p *ngIf="message" class="text-info mt-2">{{ message }}</p>
    </div>
  
    <!-- Hiển thị danh sách user -->
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tên</th>
          <th>Địa chỉ</th>
          <th>Số điện thoại</th>
          <th>Vai trò</th>
          <th>Ngày sinh</th>
          <th>Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.fullName }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>{{ user.role.name }}</td>
          <td>{{ user.dateOfBirth | date: 'yyyy-MM-dd' }}</td>
          <td>
            <span [ngClass]="user.active ? 'active-dot' : 'inactive-dot'"></span>
            {{ user.active ? 'Đang hoạt động' : 'Ngừng hoạt động' }}
          </td>
          

        </tr>
      </tbody>
    </table>
  </div>
  