  <app-header></app-header>
  <div class="status-buttons">
    <button *ngFor="let status of statuses" 
        (click)="onStatusClick(status)" 
        [ngClass]="{
          'active': selectedStatus === status,
          'btn-all': status === 'all',
          'btn-pending': status === 'pending',
          'btn-processing': status === 'processing',
          'btn-shipped': status === 'shipped',
          'btn-delivered': status === 'delivered'
        }">
  <i *ngIf="status === 'pending'" class="bi bi-hourglass"></i>
  <i *ngIf="status === 'processing'" class="bi bi-gear-fill"></i>
  <i *ngIf="status === 'shipped'" class="bi bi-truck"></i>
  <i *ngIf="status === 'delivered'" class="bi bi-check-circle"></i>
  {{ status | titlecase }}
</button>

  </div>



  <div *ngFor="let order of orders; let i = index" class="order-wrapper">
    <h2>Order {{ i + 1 }}</h2>
    <div class="order-container">
      <div class="order-info-container">
        <!-- Thông tin đơn hàng -->
        <h3>Thông tin người đặt</h3>
        <p><strong>Full Name:</strong> {{ order.fullname }}</p>
        <p><strong>Email:</strong> {{ order.email }}</p>
        <p><strong>Phone Number:</strong> {{ order.phone_number }}</p>
        <p><strong>Address:</strong> {{ order.address }}</p>
        <p><strong>Order Date:</strong> {{ order.order_date | date: 'dd/MM/yyyy' }}</p>
        <p><strong>Status:</strong>
          <span [ngClass]="{
            'status-pending': order.status === 'pending',
            'status-processing': order.status === 'processing',
            'status-shipped': order.status === 'shipped',
            'status-delivered': order.status === 'delivered'
          }">
            {{ order.status | titlecase }}
          </span>
        </p>
        
        <p><strong>Total Money:</strong> {{ order.total_money |number:'1.0-0' }} VNĐ</p>
    
        <p><strong>Shipping Method:</strong> {{ order.shipping_method }}</p>
        <p><strong>Payment Method:</strong> {{ order.payment_method }}</p>
        <p><strong>Shipping Date:</strong> {{ order.shippingDate | date: 'dd/MM/yyyy' }}</p>
      </div>

      <div class="order-items-container">
        <h3>Sản phẩm</h3>
        <div class="order-items-scroll">
          <div *ngFor="let detail of order.orderDetails" class="order-item">
            <img *ngIf="detail.product?.thumbnail" [src]="getProductImageUrl(detail.product.thumbnail)" alt="{{ detail.product.name }}" />
            <div class="order-item-info">
              <p><strong>Product Name:</strong> {{ detail.product.name }}</p>
              <p><strong>Price:</strong> {{ detail.product.price | number: '1.0-0' }} VNĐ</p>
              <p><strong>Quantity:</strong> {{ detail.numberOfProducts }}</p>
              <p><strong>Total:</strong> {{ detail.totalMoney | currency }}</p>
              <p><strong>Color:</strong> {{ detail.color }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
